---
extends: default

rules:
  line-length:
    max: 300
    level: warning
  document-start:
    present: false
  indentation:
    spaces: 2
    indent-sequences: consistent
  comments:
    min-spaces-from-content: 1
  anchors:
    forbid-undeclared-aliases: false
    forbid-duplicated-anchors: false
